<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>随访规则设定</title>
	<script src="js/jquery-1.9.1.min.js"></script>
	<style type="text/css">
		div h2{
			color: #1E90FF;
			text-align:center;
		}
		#o{
			width: 0;
			height: 500px;
			margin: 0 220px;
			border-left: 1.5px solid bisque;
		}
		.two .j{
			background-color: gainsboro;
			width: 190px;
			height: 60px;
			text-align: center;
			line-height: 60px;
			margin-left: 20px;
		}
		.s1{
			background-color: gainsboro;
			width: 190px;
			margin-left: 20px;
			overflow:hidden;
			border-radius:5px;
		}
		.s2{
			background-color: gainsboro;
			width: 190px;
			overflow:hidden;
			margin-left: 20px;
			border-radius:5px;

		}
		.s3{
			width: 0;
			height: 600px;
			margin-left: 230px;
			border-left: 2px solid bisque;
			margin-top: -575px;
		}
		.s4{
			margin-left: 300px;
			margin-top: -580px;
		}
		.s5{
			margin-left: 300px;
			margin-top: 0px;
		}
		.s6{
			margin-left: 300px;
			margin-top: 0px;
		}
		.s7{
			margin-left: 500px;
			margin-top: -530px;
		}
		.s7 button{
			margin-left: 300px;
			margin-top: -201px;
			position: absolute;
			width: 50px;
			height: 30px;
			border: 0;
		}
		.s5 a{
			text-decoration: none;
		}
		.s6 a{
			text-decoration: none;
		}
		.s6 select{
			width: 130px;
		}
		.s5 div{
			background: url(img/u826.png);
		}
		.s6 div{
			background: url(img/u826.png);
		}
	</style>
	<script type="text/javascript">
		function btn() {
			var show = document.getElementById("click");
			if (show.style.display == '') {
				show.style.display = 'none';
			} else {
				show.style.display = '';
			}
			var hid = document.getElementById("on");
			if (hid.style.display == '') {
				hid.style.display = 'none';
			} else {
				hid.style.display = '';
			}
		}

		//页面加载
		$(function () {
			url="selectFollowRules";
			$.get(url,{},function (data) {
				console.log(data);
				/*for (var i = 0; i<data.length;i++){
					$(".j").append('<br/><div class="s1"><span>'+'随访规则'+
							data[i].id+'</span><br>'+'<span>'+'事件：'+data[i].department.departmentName+data[i].firstAndLast.firstAndLastName
							+data[i].benchmarkEvents.benchmarkEventsName+'</span><br>'+'<span>'+'起始时间：事件后'+data[i].pointOfTime.startYear
							+'年'+'</span><br>'+'<span>'+'间隔时间：'+data[i].pointOfTime.startYear+'年,共'+data[i].pointOfTime.duration+'次'+'</span><br>'
							+'<span>'+'提前'+data[i].pointOfTime.daysAhead+'天自动通知'+'</span></div>')
				}*/


			})
		})
	</script>
</head>
<body>
<div class="content">
	<div class="one">
		<h2>随访规则设定</h2>
		<a href="#">返回随访组</a><br />
		<span style="text-align: center;display:block;">
					<span >节假日设定： &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<input type="checkbox"><span>节假日是否排期</span>
					<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<span>否，</span><input type="radio" name="jiejiari"/><span>提前&nbsp; / &nbsp;</span><input type="radio" name="jiejiari"/>
					<span>顺延 到上/下一工作日</span>
				</span>
		<hr color="bisque"/>
	</div>
	<div class="two">
		<div class="j" onclick="btn()">基线</div>
		<br />
		<div class="s1" onclick="btn()">
			<br />
			<span> &nbsp;&nbsp;随访规则1</span><br /><br />
			<span> &nbsp;&nbsp;事件：本科室第一次手术</span><br /><br />
			<span> &nbsp;&nbsp;起始时间：事件后1月</span><br /><br />
			<span> &nbsp;&nbsp;间隔时间：1月，共：6次</span><br /><br />
			<span> &nbsp;&nbsp;提前5天自动通知</span><br /><br />
		</div>
		<br />
		<div class="s2" onclick="btn()">
			<br />
			<span> &nbsp;&nbsp;随访规则2</span><br /><br />
			<span> &nbsp;&nbsp;事件：本科室第一次手术</span><br /><br />
			<span> &nbsp;&nbsp;起始时间：事件后1年</span><br /><br />
			<span> &nbsp;&nbsp;间隔时间:1月，持续进行</span><br /><br />
			<span> &nbsp;&nbsp;提前5天自动通知</span><br /><br />
		</div>
		<div class="s3">

		</div>
	</div>
	<div id="click" class="s7" style="position: relative; width: 170px; height: 89px;">
		<img src="img/u826.png" style="height: 26px;width: 100px"  alt="">
		<span style="position: absolute; top: 0; left: 0; line-height: 26px;color:white;">引用模板</span><br /><br />
		<span><a style="text-decoration:none;" href="#">1.基本信息</a></span><br /><br />
		<span><a style="text-decoration:none;" href="#">2.体格检查</a></span><br /><br />
		<span><a style="text-decoration:none;" href="#">3.实验室检查</a></span><br /><br />
		<span><a style="text-decoration:none;" href="#">4.影像学检查</a></span>
		<button style="background: #3d83fa;color: #fefefe">保存</button><br />
	</div> 
	<div id="on" class="three" style="display: none;" >
		<div class="s4">
			<span>1.时点设置</span><br />
			<span>&nbsp;&nbsp;&nbsp;</span><span>1)基准事件：</span>
			<input type="radio" name="jizhun"/><span>门诊</span><span>&nbsp;&nbsp;&nbsp;</span>
			<input type="radio" name="jizhun"/><span>入院</span><span>&nbsp;&nbsp;&nbsp;</span>
			<input type="radio" name="jizhun"/><span>出院</span><span>&nbsp;&nbsp;&nbsp;</span>
			<input type="radio" name="jizhun"/><span>手术</span><span>&nbsp;&nbsp;&nbsp;</span>
			<input type="radio" name="jizhun"/><span>入ICU</span><span>&nbsp;&nbsp;&nbsp;</span>
			<input type="radio" name="jizhun"/><span>出ICU</span><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<button style="background: #3d83fa; border: none; color: #fefefe">保存</button><br />
			<span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span>筛选条件：</span>
			<span>&nbsp;&nbsp;</span><input type="radio" name="sai1"/><span>本院</span><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><input type="radio" name="sai1"/><span>本科室</span><br />
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<input type="radio" name="sai2"/><span>首次</span><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><input type="radio" name="sai2"/><span>末次</span><br />
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<input type="radio" name="sai3"/><span>本就诊</span><input type="radio" name="sai3"/><span>任意就诊</span><br /><br />
			<span>&nbsp;&nbsp;&nbsp;</span><span>2)起始：</span><input type="text" style="width:20px; height:20px;"/><span>年</span><input type="text" style="width:20px; height:20px;"/><span>月</span><input type="text" style="width:20px; height:20px;" /><span>日</span>
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span>3)间隔：</span><input type="text" style="width:20px; height:20px;"/><span>年</span><input type="text" style="width:20px; height:20px;"/><span>月</span><input type="text" style="width:20px; height:20px;"/><span>日</span><br /><br />
			<span>&nbsp;&nbsp;&nbsp;</span><span>4)持续：</span><input type="text" style="width:20px; height:20px;"/><span>次</span>
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span>5)提前：</span><input type="text" style="width:20px; height:20px;"/><span>天自动通知</span>
			<hr />
		</div>
		<div class="s5" style="position: relative; ">
			<span>2.模板选择</span><br />
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<div ></div>
			<img src="img/u826.png" style="width:110px;height: 26px" alt="">
			<span style="position: absolute; top: 20px; left:0; line-height: 26px;color:white;">引用CRF模板</span>
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span><a href="#">1.评分表,</a>&nbsp;&nbsp;</span><span><a href="#">2.随访</a></span>
			<hr />
		</div>
		<div class="s6" style="position: relative; ">
			<span>3.提醒方式</span><br />
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<div></div>
			<img src="img/u826.png" style="width:130px;height: 26px"  alt="">
			<span style="position: absolute; top: 20px; left:0; line-height: 26px;color:white;">引用随访提醒模板</span>
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span><a href="#">患者提醒通用模板：请于${2017年6月1日}来院随访。</a></span><br /><br />
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span>提醒方式：</span>
			<select >
				<option>-请选择-</option>
				<option>移动APP</option>
				<option>短信</option>
				<option>微信</option>
			</select>
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span>发送至：</span>
			<select>
				<option>-请选择-</option>
				<option>医生</option>
				<option>随访员</option>
			</select>
			<br /><br />
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<div></div>
			<img src="img/u826.png" width="150" height="26" alt="">
			<span style="position: absolute; top: 20px; left:0; float: right; line-height: 26px;color:white;">引用数据项预警模板</span>
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span><a href="#">预警通用模板：患者张三指标白细胞超出正常范围，请对应。</a></span><br /><br />
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span>提醒方式：</span>
			<select >
				<option>-请选择-</option>
				<option>移动APP</option>
				<option>短信</option>
				<option>微信</option>
			</select>
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span>发送至：</span>
			<select>
				<option>-请选择-</option>
				<option>医生</option>
				<option>随访员</option>
			</select>
		</div>
	</div>
</div>
</body>
</html>