<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fums.template_setting.dao.dictionaryMapper">
  <resultMap id="BaseResultMap" type="com.fums.template_setting.pojo.dictionary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="children_id" jdbcType="INTEGER" property="childrenId" />
    <result column="children" jdbcType="VARCHAR" property="children" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, cid, children_id, children
  </sql>
  <select id="selectDictionary" resultMap="BaseResultMap">
    SELECT * FROM dictionary
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fums.template_setting.pojo.dictionary">
    insert into dictionary (id, name, cid, 
      children_id, children)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}, 
      #{childrenId,jdbcType=INTEGER}, #{children,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fums.template_setting.pojo.dictionary">
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="childrenId != null">
        children_id,
      </if>
      <if test="children != null">
        children,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="childrenId != null">
        #{childrenId,jdbcType=INTEGER},
      </if>
      <if test="children != null">
        #{children,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fums.template_setting.pojo.dictionary">
    update dictionary
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="childrenId != null">
        children_id = #{childrenId,jdbcType=INTEGER},
      </if>
      <if test="children != null">
        children = #{children,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fums.template_setting.pojo.dictionary">
    update dictionary
    set name = #{name,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      children_id = #{childrenId,jdbcType=INTEGER},
      children = #{children,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>